*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width:100%;
    height:100vh;
    background:#3c5077;
    display:flex;
    align-items: center;
    justify-content: center;
}
.btn{
    padding: 10px 60px;
    background: white;
    border:0;
    outline:none;
    cursor:pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}